@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-pearl: #faf3dd;   /* Primal bg */
  --color-mint: #b8f2e6;    /* Secondary accents */
  --color-sky: #aed9e0;     /* Info elements, icons, chips */
  --color-slate: #5e6472;   /* Primary text */
  --color-coral: #fb8888;   /* Danger */
}
